<IfModule mod_rewrite.c>
     RewriteEngine On
     # Route everything except /content/* and favicon.ico to index.php
     RewriteCond %{REQUEST_URI} !^/css/.*$
     RewriteCond %{REQUEST_URI} !^/fonts/.*$
     RewriteCond %{REQUEST_URI} !^/js/.*$
     RewriteCond %{REQUEST_URI} !^/favicon\.ico$
     RewriteRule ^ index.php
 </IfModule>